.stats{
    height: 90px;
    width: 200px;
    margin: 20px 0;
    /* padding: 30px; */
    background-color: #427FC2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.stats-title{
    font-size: 18px;

}
.stats-count{
    font-size: 40px;

}